[user]
	email = harish2704@gmail.com
	name = Harish Karumuthil
[guitool "Terminal2"]
	cmd = konsole -e zsh
	noconsole = yes
[init]
	defaultBranch = main
[alias]
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[guitool "Pull"]
	cmd = git pull
[push]
	autoSetupRemote = true
[pull]
	rebase = false
