[Desktop Entry]
Version=1.0
Name=Chromium GTK4
Comment=Access the Internet
GenericName=Web Browser
Exec=/usr/bin/chromium-browser --gtk-version=4 %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium-browser
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Chromium-browser
Keywords=web;browser;internet;
Actions=new-window;new-private-window;

X-Desktop-File-Install-Version=0.26

[Desktop Action new-window]
Name=Open a New Window
Exec=chromium-browser --gtk-version=4 %U

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=chromium-browser --incognito --gtk-version=4 %U
