[Desktop Entry]
Exec=ibus-next-engine.py
Name=Hari IBus Next eng
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
